{% load static %}
<nav class="flex items-center justify-around py-2">
    <a href="{% url 'home' %}"><img src="{% static 'bible/images/malayalambible_logo-removebg-preview.png' %}" alt="" class="w-48 h-32"></a>

    
    <p class="font-extrabold text-3xl text-red-500">മലയാളം ബൈബിൾ</p>
    
    <select name="" id="">
        <option value="">നിയമം</option>
        <option value="">പഴയ നിയമം</option>
        <option value="">പുതിയ നിയമം</option>
    </select>
    
    <select name="" id="">
        <option value="">പുസ്തകം</option>
        
    </select>
</nav>